<!DOCTYPE html>

<html>

<head>
    <title><%=title %></title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="pageTitle">
        <h1>Game Appointments</h1>
    </div>

    <div class="mainBody">
        <p>
            Please make a selection below to get started.
        </p>
        <p>
            <a href="/add_appointment">Add Appointment</a>
        </p>
        <p>
            <a href="/list_appointments">List Appointments</a>
        </p>
    </div>
</body>

</html>